/* start main rules */

body{

	height: 4000px;
}
.container {
	width:1170px;
	margin:auto;
}
.clearfix{
	clear: both;
}


/*end main rules
/* start header */
.header .slider{
	background-color:white;
	height: 600px;
	background-image:url('../images/slider.jpg');
	-webkit-background-size:cover;/*  css3      */ 
	-moz-background-size:cover;/*  css3      */ 
	-o-background-size:cover;/*  css3      */ 
	background-size: cover;
} 
.header .slider .intro{
	padding-top: 200px;
	height:600px;
	text-align: center;
	color: #FFF;
}
.header .slider .intro h2 {
	font-size: 50px;
	margin: 0px auto;
	width:600px;
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;

}
.header .slider .intro button{
	background:none;
	margin-top:30px;
	color: white; 
	font-size: 20px;
	border: 2px solid #FFF;
	font-weight: bold;
	padding :10px 30px;
}
.header .navbar {
	background-color: #252F31;
	color:#FFF;
	overflow: hidden;/* the color will be hidden */
}
.header .navbar h2{
	float: left;
	text-transform: uppercase;
}
.header .navbar h2 span{
	color:#2ecc71;

}
.header .navbar ul{
	list-style: none;/* for remove . from list*/
	padding-left: 0px;
	overflow: hidden;
	float: right;
}
.header .navbar li{
	float: left;
	padding: 10px;
}


	.header .navbar li a{
		color: #FFF;
		text-decoration: none;

	}
	.header .navbar li.active a,
	.header .navbar li a:hover{
		color: #30b576;
	}
/* end header*/
/*                                             				start features                                        */
.features{
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 50px;
}
.features  .feat  h2{
	text-transform: uppercase;
	color: #555;
}
.features  .feat  p{
	line-height: 1.7;
	color: #888;
	text-align: justify;
	padding: 0 20px 0 0;
}
.feat{
	float: left;
	width: 33.333%;/* for divide / on 3 */
	height: 150px;

}



/*                                             				End features                                        */
/*                                             				start Aboutme                                      */
.about-me{
	background-color:#f2f2f2;
	overflow: hidden;
}
.about-me .image{
	float: left;
	width: 40%;
}
.about-me .image img{
	width: 100%;/* to be the image 40% from class image*/
}
.about-me .info{
	float: left;
	width: 60%;
}
.about-me .info h2 {
	margin: 30px 0 10px 40px;
	color: #555;
}
.about-me .info > p{
	margin: 0 0 20px 40px; }

.about-me .info  > p:last-of-type {
	margin-top: 30px;
}
.about-me .info p{ /*  here any p will apply on it  */
	line-height: 1.6;
	color: #888;
}
.about-me .info .hobbies{
	overflow: hidden;
	margin: 20px 0 0 40px;
}
.about-me .info .hobbies h3{
	color: #555;
}
.about-me .info .hobbies .content{    /* this code will apply on 4 div*/
	float: left;
	width: 50%;
	font-weight: bold;
	min-height: 100px;
	overflow: hidden;
}
.about-me .info .hobbies .content .icon{
	float: left;
	width:12%;
	margin-right: 4%;
}
.about-me .info .hobbies .content .icon img{
	max-width: 100%;
	margin: 20px 10px 0 5px;
}
.about-me .info .hobbies .content .text{
	float: left;
	width: 84%;;
}
.about-me .info .hobbies .content .text p{
	margin-top: 0;
	margin-right:5px; 
}
.about-me .info .hobbies .content .text h3{
	margin-bottom: 4px;
}
/* 																start myskills                                     */
.myskills{
	overflow: hidden;
	padding-top:30px;
	padding-bottom:50px;  
}
/* group*/
.myskills .skills, 
.myskill .progress{
	width: 50%;
	float: left;
	
}

.myskills .skills h2{
margin:25px 0 20px 40px;
color: #555;
}
.myskills .skills p{
	margin:0 0 10px 40px;
	color: #666;
	line-height: 1.6;
}
.myskills .skills p:last-of-type{
	margin-top:25px; 
}
.myskills .skills button{

	margin:20px 0 10px 40px;
}


.myskills .progress .technique{
	
	margin-left: 650px;
}
.myskills .progress .technique h3{
	color: #555;
	margin-top: 10px;

}
.myskills .progress .technique div{
background-color: #f2f2f2;
height: 25px;	
}
.myskills .progress .technique div span{
	background-color: #2DCC70;
	line-height: 25px;/* for 80% write better*/
	height: 25px;
	display: block;
	text-align: right;
	color: #FFF;
	font-weight: bold;
}
/*																start  Resume								*/
.resume{
	background-color: #F2F2F2; 
	padding-top:50px;
	padding-bottom:70px;  
	text-align: center;
}
.resume h2{
	color: #555;

}
.resume p{
	color:#666;
}
.resume button{

	margin:20px 0 10px 40px;
}
/* 																start myEducation                                   */
.myeduction{
	overflow: hidden;
	padding-top:30px;
	padding-bottom:30px;  
}
/* group*/
.myeduction .main{
	width: 50%;
	margin-right: 5%;
	float: left;

}
.myeduction .exp{
	width:45%;
	float: left;
}
.myeduction .main h2{color: #555;margin:25px 0 20px 40px;}
.myeduction .main p{color: #666;margin:0 0 10px 40px;}
.myeduction .main p:last-of-type{
	margin-top: 25px;
}
.myeduction .exp h3{
	color: #555;
	margin-top: 80px;
	margin-bottom: 8px;
}
.myeduction .exp span{
	display: block;margin-bottom: 8px;
}
.myeduction .exp span:first-of-type{
	color: #999;
}
.myeduction .exp span:last-of-type{
	background-color: #2DCC70;
	color: #FFF;width:60px;padding: 5px;
}
.myeduction .exp hr{
	margin: 20px 0;
	background-color: #999;
	border: 0;
	height: 1px;
}
.myeduction .exp p{
	color: #666;
	line-height: 1.7;
}


/*																start  		testimonials					*/
.testimonials{
	background-color: #F2F2F2; 
	padding-top:50px;
	padding-bottom:70px;  
	text-align: center;
}
.testimonials q{
	color: #666;
	font: italic bold 18px/1.7 Arial,Tahoma;
}
.testimonials h3{
	color:#777;
}
.testimonials ul{
	list-style: none;
	padding-left: 0;
	text-align: center;
	
}
.testimonials ul li{
	width:15px;
	height: 15px;
	border: 2px solid #2dcc70;
	display:inline-block;
	cursor: pointer;
}
.testimonials ul li.active,
.testimonials ul li:hover
{
	background-color: #2dcc70;
}
/*																start  		portfolio					*/
.portfolio{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.portfolio .our-work{
overflow:hidden;
}
.portfolio .our-work  > div{ /* i can write this portfolio .our-work  img */
	float: left;
	width: 33.3333%;
	margin-bottom:10px; 

}
.portfolio .our-work  > div img{
	width: 92%;
	margin: 10px;
}
/*																start  		Contact Me					*/
.Contact{
	background-color: #252F31;
	overflow: hidden;

}
.Contact h2{
	color: white
}
.Contact p{
	color: #6a6e71;
}
.Contact .info,
.Contact .form{
	width: 50%;
	float: left;
}
/*																start  		Footer				*/
.footer{
	background-color: #191e22;
	color: #6a6e71;
	padding: 20px 0;
	text-align: center;
}

/*                                                 start my framework                                         */
.my-button{
	background:none;
	border: 3px solid #2dcc70;
	padding: 10px 30px;
	color: #2dcc70;
	font-weight: bold;

}






















